body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
}

ol,
ul {
  list-style-type: none;
}

.float-fixer {
  clear: both;
}

/* header */
.header-section {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 156px;
  padding-left: 156px;
  margin: 0;
}

.header-nav-list,
.header-contacts-list {
  margin: 0;
}
.header-nav {
  margin: 0;
}

.header-nav-link:hover,
.header-contacts-link:hover {
  color: #404bbf;
}

.header-nav-link:focus,
.header-contacts-link:focus {
  color: #404bbf;
}
.header-nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-logo-link {
  color: #4d5ae5;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  margin-right: 76px;
  float: left;
}

.logo-text {
  color: #2e2f42;
}

.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-right: 40px;
  text-decoration: none;
  float: left;
}
.header-nav-link::last-child {
  float: none;
}

.header-contacts-container {
  font-style: normal;
}

.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-left: 40px;
  text-decoration: none;
  float: inline-end;
}

/* section-solution */

.section-solution {
  background-color: #2e2f42;
  margin: 0;
  padding-top: 188px;
  padding-bottom: 188px;
}

.solution-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
  margin-top: 0;
  padding-left: 472px;
  padding-right: 472px;
}

.solution-button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: #4d5ae5;
  background: #4d5ae5;
  margin-left: 636px;
  margin-right: 635px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 31px;
  padding-right: 31px;
  cursor: pointer;
}

.solution-button:hover {
  background-color: #404bbf;
}

.solution-button:focus {
  background-color: #404bbf;
}

/* Features */

.section-features {
  margin: 120px 0 120px 156px;
}

.features-item {
  max-width: 264px;
  margin-right: 24px;
  float: left;
}

.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 8px;
}

.features-main-title {
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

.features-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0;
}

/* team section */

.section-team {
  background: #f4f4fd;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}

.team-list {
  margin: 0;
  margin-left: 156px;
}

.teammate-card {
  background: #fff;
  margin-right: 24px;
  padding-bottom: 0;
  float: left;
}

.teammate-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 32px 0 0;
}

.teammate-proffession {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 14px 0 32px;
}

/* portfolio section */

.section-portfolio {
  margin: 0;
  padding-top: 120px;
  padding-bottom: 72px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}

.portfolio-list {
  margin: 0;
  margin-left: 156px;
}

.portfolio-list-item {
  border: 1px solid #e7e9fc;
  background: #fff;
  margin-right: 24px;
  padding-bottom: 0px;
  margin-bottom: 48px;
  float: left;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 32px 0 0 0;
  padding-left: 16px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 10px 0 32px 0;
  padding-left: 16px;
}

/* footer */

.section-footer {
  background-color: #2e2f42;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.footer-logo-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-text-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 12px;
  margin-bottom: 0;
}
